<section id="featured-services" class="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 mb-2 d-flex wow fadeInUp" data-wow-delay="0.5s">
                <div class="item">
                    <div class="icon"><i class="flaticon-tooth-with-braces"></i></div>
                    <h4>ایمپلنت تخصصی</h4>
                    <p>از آنجا که لورم ایپسوم، شباهت زیادی به متن های واقعی دارد، طراحان معمولا از لورم ایپسوم
                        استفاده
                        میکنند تا فقط به مشتری یا کار فرما نشان دهند</p>
                </div>
            </div>

            <div class="col-lg-4 mb-2 d-flex wow fadeInUp" data-wow-delay="0.5s">
                <div class="item">
                    <div class="icon"><i class="flaticon-tooth-1"></i></div>
                    <h4>کامپوزیت دندان</h4>
                    <p>از آنجا که لورم ایپسوم، شباهت زیادی به متن های واقعی دارد، طراحان معمولا از لورم ایپسوم
                        استفاده
                        میکنند تا فقط به مشتری یا کار فرما نشان دهند</p>
                </div>
            </div>
            <div class="col-lg-4 mb-2 d-flex wow fadeInUp" data-wow-delay="0.5s">
                <div class="item">
                    <div class="icon"><i class="flaticon-dental-care"></i></div>
                    <h4>پر کردن دندان</h4>
                    <p>از آنجا که لورم ایپسوم، شباهت زیادی به متن های واقعی دارد، طراحان معمولا از لورم ایپسوم
                        استفاده
                        میکنند تا فقط به مشتری یا کار فرما نشان دهند</p>
                </div>
            </div>

        </div>


    </div>
</section>