<section id="hero" class=" container">
  <div class="hero row align-items-center justify-content-center">
    <div class="col-lg-6 align-items-center">
      <img src="../../../../assets/images/dr.png" />
    </div>
    <div class="col-lg-6 animated fadeInUp">
      <h1 class="animated fadeInRight">دکتر احسان گراوند</h1>
      <h1 class="animated fadeInRight">متخصص جراحی لثه و ایمپلنت</h1>
      <p class="animated slideInLeft">
        دارای بورد تخصصی عضو هیئت علمی دانشگاه
      </p>
      <div class="text-center mt-5">
        <a routerLink="a" class="btn-get-started animated fadeInLeft text">
          اطلاعات بیشتر
        </a>
      </div>
    </div>
  </div>
</section>