<section id="services" class="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 align-items-center wow fadeInUp" data-wow-delay="0.5s">
                <div class="box">
                    <h4>خدمات کلینیک</h4>
                    <p>از آنجا که لورم ایپسوم، شباهت زیادی به متن های واقعی دارد</p>
                </div>
            </div>
            <div class="col-lg-9 wow fadeInUp" data-wow-delay="0.5s">
                <div class="row">
                    <div class="col-lg-4 mb-2 d-flex">
                        <div class="service-item position-relative">
                            <div class="icon"><i class="flaticon-tooth-with-braces"></i></div>
                            <h4>ایمپلنت دندان</h4>
                            <p>از آنجا که لورم ایپسوم، شباهت زیادی به متن های واقعی دارد، طراحان معمولا از لورم ایپسوم
                                استفاده
                                میکنند تا فقط به مشتری یا کار فرما نشان دهند</p>
                        </div>
                    </div>

                    <div class="col-lg-4 mb-2 d-flex">
                        <div class="service-item position-relative">
                            <div class="icon"><i class="flaticon-dental-care"></i></div>
                            <h4>عصب کشی دندان</h4>
                            <p>از آنجا که لورم ایپسوم، شباهت زیادی به متن های واقعی دارد، طراحان معمولا از لورم ایپسوم
                                استفاده
                                میکنند تا فقط به مشتری یا کار فرما نشان دهند</p>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-2 d-flex">
                        <div class="service-item position-relative">
                            <div class="icon"><i class="flaticon-anesthesia"></i></div>
                            <h4>بی حسی دندان</h4>
                            <p>از آنجا که لورم ایپسوم، شباهت زیادی به متن های واقعی دارد، طراحان معمولا از لورم ایپسوم
                                استفاده
                                میکنند تا فقط به مشتری یا کار فرما نشان دهند</p>
                        </div>
                    </div>

                    <div class="col-lg-4 mb-2 d-flex">
                        <div class="service-item position-relative">
                            <div class="icon"><i class="flaticon-dental-care-1"></i></div>
                            <h4>جرم گیری دندان</h4>
                            <p>از آنجا که لورم ایپسوم، شباهت زیادی به متن های واقعی دارد، طراحان معمولا از لورم ایپسوم
                                استفاده
                                میکنند تا فقط به مشتری یا کار فرما نشان دهند</p>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-2 d-flex">
                        <div class="service-item position-relative">
                            <div class="icon"><i class="flaticon-tooth-1"></i></div>
                            <h4>کامپوزیت دندان</h4>
                            <p>از آنجا که لورم ایپسوم، شباهت زیادی به متن های واقعی دارد، طراحان معمولا از لورم ایپسوم
                                استفاده
                                میکنند تا فقط به مشتری یا کار فرما نشان دهند</p>
                        </div>
                    </div>


                    <div class="col-lg-4 mb-2 d-flex">
                        <div class="service-item position-relative">
                            <div class="icon"><i class="flaticon-bacteria"></i></div>
                            <h4>پر کردن دندان</h4>
                            <p>از آنجا که لورم ایپسوم، شباهت زیادی به متن های واقعی دارد، طراحان معمولا از لورم ایپسوم
                                استفاده
                                میکنند تا فقط به مشتری یا کار فرما نشان دهند</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>